.menu-shortcut {
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .menu-shortcut .a {
    color: var(--color-text-default-default);
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    font-style: var(--single-line-body-base-font-style);
    font-weight: var(--single-line-body-base-font-weight);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  